body {
  margin: 0;
  padding: 0;
  background-color: #17161a !important;
  max-width: 1600px;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.modal-backdrop {
  display: none !important;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media (max-width: 600px) and (min-width: 320px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block;
  }
}
