.list-movie {
  background-color: #0c0c4a;
  .movie {
    width: 250px;
    position: relative;
    .btn-booking {
      font-weight: 700;
      position: absolute !important;
      opacity: 0;
      top: -50.5%;
      transform: translateX(-10%);
      width: 250px;
      border-radius: 0%;
      transition: all 0.3s;
      outline: none;
    }
    .card {
      width: 250px !important;
      border-radius: 20px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
      &:hover {
        .btn-booking {
          opacity: 1;
        }
      }

      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      border: none;
      margin: 10px auto;
      .card-img-top {
        z-index: 0;
        width: auto;
        height: 400px;
      }
      .card-body {
        position: relative;
        height: 90px;
        padding-top: 10px;
        p {
          font-size: 17px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }

      .MuiBox-root {
        position: absolute;
        bottom: -30%;
      }
    }
  }
}
.now_title {
  text-transform: uppercase;
  color: $white-darker-2;
  text-align: center;
}

.swiper-container {
  width: 1400px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  &-3d {
    perspective: 800px !important;
  }
}
.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 300px !important;
  .container-fluid {
    padding: 0 !important;
  }
}
.swiper-button-next,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-prev {
  width: 50px !important;
  font-weight: 600 !important;
  height: 50px !important;
  border: 1px none transparent;
  border-radius: 50%;
  background-color: $primary;
  opacity: 0.8;
  &:focus {
    outline: none;
  }
}
.swiper-button-next:after{
  content: ">";
  font-size: 20px !important;
  color: $white-darker-2;
  font-weight: 900;
}
.swiper-button-prev:after {
  content: "<";
  font-size: 20px !important;
  color: $white-darker-2;
  font-weight: 900;
}
.movie-detail {
  background-color: $primary;
  padding: 5px 10px;
  .MuiBox-root {
    margin: 0;
  }
  a,
  p {
    color: $white-darker-2;
    &:hover {
      color: $white-darker-2;
      text-decoration: none;
    }
  }
}
