.navbar--hidden {
    @extend .navbar-expand;
    transform: translateX(16.4%)!important;
    opacity: 0;
    .navbar-search{
        display: none!important;
    }
    .navbar-nav{
        display: none!important;
    }
}

.navbar-expand{
  padding-top:20px;
  position: fixed !important;
  opacity: 1;
  transition: all 0.7s;
  transform: translateX(21%)!important;
    .navbar-nav{
        .dropdown-menu{
            width: 100px!important;
            .dropdown-item{
                padding: 4px 8px 8px 20px!important;
                svg{
                    margin-right:10px;
                }
            }
            border:none;
            border-radius: 0.5rem;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            a{
              padding: 8px 0 8px 20px;
              &:hover{
                font-weight: 700;
              }
            }
          }
        .nav-item{
            .dropdown-toggle{
                border-radius: 1rem;
                height: 2.5rem!important;
                &:hover{
                box-shadow:  7px 7px 36px #cfcfcf, 
                 -7px -7px 36px #f7f7f7!important;
                }
            }
        }
    }

}