.navbar-expand-md {
  height: 100px !important;
}
.navbar--hidden {
  @extend .navbar;
  top: -100px !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0 !important;
}
.navbar {
  height: 99px;
  background-color: #0c0c4a;
  transition: top 0.6s;
  z-index: 1001;
  width: 100%;
  font-size:16px;
  position: fixed !important;
  transition: all 0.2s;
  top: 0;
  .logo-title {
    &:hover {
      text-decoration: none;
    }
  }
  .logined {
    width: 100px;
    .nav-user-login {
      display: flex;
      justify-content: center;
      svg {
        width: 30px;
        height: 30px;
      }
      p {
        margin-bottom: 0 !important;
      }
    }

    color: white;
    margin-left: 100px;
    position: relative;
    text-align: center;
  }
  .btn-login {
    padding: 10px 24px;
    font-size: 18px;
    margin-left: 40px;
    border: 1px solid #2196f3;
    background-color: #2196f3;
    border-radius: 30px;
    color: white;
    transition: 0.5s;
    &:hover {
      color: white !important;
      text-decoration: none !important;
      box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    }
  }
  .nav-logout {
    margin-left: 40px;
  }
  .logo-name {
    margin-top: 1em;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
  }
  .active {
    font-size:22px!important;
    color:white!important;
    font-weight:700;
    border-radius: 30px;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }
  .nav-link {
    color:#03ffd2;
    margin: 0 20px;
    font-size: 20px;
    transition: 0.2s;
    &:hover {
      border-radius: 30px;
      background: #2196f3;
      box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    }
  }
  .dropdown {
    .dropdown-toggle {
      background-color: transparent !important;
      border: none;
      color: white;
    }
    .user_icon {
      margin-right: 10px;
    }
  }
  button:focus {
    outline: none;
  }
}
