.info--user {
  width:50vw!important;
  height: 500px!important;
  margin:10vh auto!important;
  padding : 40px;
  border-radius: 1.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  }
  h1{
    text-align: center;
    font-size:32px;
    font-weight:700;
  }
  .info {
    width:30vw;
    padding: 30px;
    .comp {
      font-size: 24px;
      padding-left:46px;
      p{
        text-transform: uppercase;
        font-size:20px;
        font-weight: 300;
      }
      span{
        text-transform: none;
        font-size: 26px;
        font-weight: 700;
      }
    }
    .btn-update {
      &:focus{
        outline:none!important;
        -webkit-box-shadow: none!important;
      }
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
      }
    }
  }
  .comboButtonUser{
    width:450px!important; 
  }
  .btn-info{
    // margin-left: 40%;
  }
  .avatar{
    margin-top:3vh;
    width:200px;
    height:200px;
  }
  .modal-content{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0.75rem;
  }
}
.history-user{
  width: 100vw!important;
  transform: translateX(-27%);
  margin:0 auto!important;
  position: relative!important;
}