.list-movie{
    background-color: #0c0c4a;
    .movie{
        width:250px;
        position: relative;
       .btn-booking{
           position: absolute!important;
           opacity: 0;
           bottom:19.5%;
           transform: translateX(-10%);
           width: 250px;
          
       }
        .card{
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            &:hover{
                .btn-booking{
                    opacity: 1;
                }
            }
            border: none;
            margin: 10px auto;
            .card-img-top{
                z-index: 0;
                width:auto;
                height: 400px;
            }
            .card-body{
                height: 90px;
                padding-top:0;
                padding-bottom: 0;
                p{
                    font-size:17px;
                    font-weight: 700;
                }
            }
    
        }
    }
}