.nav-tabs{
    width:400px;
    margin: 0 auto;
    display: block;
    border-bottom: none!important;
    .nav-link{
        color: #fff;
        border:none!important;
        background-color: transparent!important;
        margin-left:10px;
    }
    .active{
        color: #f03f42!important;
        transform: scale(1.3);
        font-weight: 700;
    }
}