
    .makeStyles-root-1{
        width:70%;
        margin: 20px auto;
        .MuiAppBar-root{
            background-color: #fff;
            color:#000;
            button{
                &:focus{
                    outline:none!important;
                }
                span{
                    font-size: 16px;
                    font-weight: 400;
                    transition: all 0.2s;
                    &:hover{
                        font-weight: 700;
                        transform: scale(1.2);
                    }
                    &:focus{
                        outline:none!important;
                    }
                }
            }
            .Mui-selected{
                span{
                    font-weight: 700;
                    transform: scale(1.3); 
                }
            }
        }
    }