.detail-movie{
    .detail-movie-intro-image{
        z-index: -1;
        width:100vw;
        height:20vw;
        transform: scale(2,3);
        -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
        filter: blur(10px);
    }
    .detail-description{
        border:none;
        position: relative;
        top:40%;
        .title-description{
            color:#fff;
        }
    }
}