.carousel-main {
    .slick-slider {
        width: 100vw !important;

        .slick-prev {
            left: 40px;
            z-index: 2;

            &::before {
                font-size: 45px;
            }
        }

        .slick-next {
            right: 60px;
            z-index: 2;

            &::before {
                font-size: 45px;
            }
        }

        .slick-list {
            height: 40vw !important;

            img {
                height: 800px;
                width: 100%;
                background-size: cover;
            }
        }
    }
}

#nav-tabContent {
    .tab-pane {
        background-color: transparent !important;
    }

    .active {
        background-color: #fff;
    }

    .slick-slider {
        .slick-prev {
            left: -60px;
            z-index: 2;

            &::before {
                font-size: 45px;
            }
        }

        .slick-next {
            right: -40px;
            z-index: 2;

            &::before {
                font-size: 45px;
            }
        }

        .movie-carousel {
            position: relative;
            .carousel-image{
                height:399px;
                .carousel-image-home{
                        border-bottom-right-radius: 0px!important;
                        border-bottom-left-radius: 0px!important;
                }
            }
            .carousel-detail {
                &:focus{
                    outline:none;
                }
                border-top-left-radius: 0px!important;
                border-top-right-radius: 0px!important;
                border-top:none;
                background-color: #fff;
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                display: block;
                width: 250px;
                position: relative;
                font-size: 16px;
                font-weight: 600;
                height: 120px;
                margin-bottom: 20px !important;
                a{
                    cursor: pointer;
                    padding:10px 15px;
                    color:#000;
                    margin-bottom: 0;
                    line-height: normal;
                    position: absolute;
                    top: 0%;
                    font-size: 18px;
                    font-size: 700;
                    text-decoration: none;
                }
                p {
                    padding:10px 15px;
                    color:#000;
                    margin-bottom: 0;
                    &:nth-child(2){
                        position: absolute;
                        top:40%;
                        font-size: 14px;
                    }
                }
               
                
                .MuiBox-root {
                    position: absolute;
                    padding-top:5px;
                    bottom: -15%;
                    left:5%;
                    .MuiRating-root{
                        font-size: 1.1rem;
                    }
                }
            }

            .carousel-text {
                margin-bottom: 0 !important;
            }

            .carousel-body {
                p {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .slick-list {

            img {
                height: 400px !important;
            }
        }
    }
}