.home-tool {
  padding: 15px;
  margin: 0 auto;
  display: flex;
  background-color: $main;
  position: absolute;
  bottom: -5%;
  border: 1px solid $primary;
  border-radius: 0.75rem;
  left: 14%;
  .form-control {
    border: none !important;
    background-color: $main;
    color: $white-darker-2;
    &:focus {
      background-color: $main;
      color: $white-darker-2;
    }
  }
  .selectChoice {
    font-size: 16px;
    width: 240px;
    height: 40px;
    &:focus {
      border-color: none;
      box-shadow: none;
    }
  }
  .btn-datve {
    margin-left: 10px;
    padding: 5px;
    border-radius: 0.75rem;
    font-size: 16px;
    border: none;
    background-color: $primary;
    text-align: center;
    color: $white-darker-2;
    box-shadow: 0 1px 3px $primary, 0 1px 2px $primary !important;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none !important;
    }
  }
}
