.booking-movie {
  background-color: #011840;
  padding: 60px;
  padding-top: 30px;
  width: 1200px;
  height: 820px;
  position: relative;
  margin: 0 auto;

  .countdown {
    position: absolute;
    left: 82%;

    span {
      color: #fff;
    }
  }

  .row {
    margin-left: 50px;
  }
  .timeLabel {
    color: white;
    font-size: 14px;
    margin-bottom: 0;
  }
  .timeCount {
    color: yellow;
    text-shadow: 0 0 10px yellow, 0 0 40px yellow, 0 0 80px yellow;
    text-align: center;
  }

  h3 {
    color: #fff !important;
    font-weight: 300 !important;
    font-size: 20px !important;

    transform: translateX(0%);

    span {
      font-weight: 900 !important;
    }
  }

  .chose {
    background-color: #33d6a8 !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 14px;
  }

  .booked {
    background-color: grey !important;
    color: white !important;
  }

  .chairList {
    margin: 30px 7vw;
  }

  .monitor {
    width: 90%;
    margin: 0 auto;
    background: black;
    color: white;
    border-radius: 10px;
    height: 50px;
    padding-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .active {
    background-color: red;
    color: white;
  }

  .chair {
    background-color: black;
    opacity: 1;
    color: transparent;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
  }
}
.booking-ticket {
  .seat-check {
    h5 {
      font-size: 20px;
      font-weight: 300;
    }
  }
  .modal-content {
    margin-top: 235px !important;
  }
  .payStyles {
    margin-top: 150px !important;
    img {
      width: 50%;
      margin-bottom: 5vh;
    }
  }
  .errNoti {
    padding: 20px;
    align-items: center;
    justify-content: center;
    .circleTimes {
      border: 1px none transparent;
      background-color: red;
      color: white;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    h4 {
      text-align: center;
    }
  }
  .info-ticket {
    h5 {
      font-size: 23px;
      font-weight: 300;
      &:nth-child(3) {
        font-weight: 700;
      }
    }
    span {
      font-size: 23px;
      font-weight: 700;
    }
  }
  background-color: white;
  p {
    color: black;
    font-size: 15px;
  }
  .checkType {
    img {
      width: 40px !important;
      height: 40px !important;
      margin-left: 20px;
    }
    h5 {
      font-size: 20px;
      font-weight: 700;
    }
    .payStyle {
      p {
        margin: 15px 20px;
        font-size: 18px;
      }
    }
  }
  .total {
    text-align: center;
    padding: 0 30px;
    padding-top: 7vh !important;
    padding-bottom: 10px !important;
    h2 {
      font-size: 30px;
      font-weight: 500;

      &:nth-child(2) {
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
  .btnBook {
    position: absolute;
    left: 30%;
    bottom: 5%;
    width: 210px;
    height: 50px;
    -webkit-appearance: none;
    background: -webkit-gradient(to right, $green 0%, $sand 50%, $peach 100%);
    background: linear-gradient(to right, $green 0%, $sand 50%, $peach 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: $white;
    cursor: pointer;
    font-weight: 700 !important;
    font: 1em Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:hover {
      animation-name: gradient;
      -webkit-animation-name: gradient;
      animation-duration: 2s;
      -webkit-animation-duration: s;
      animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100%;
    }
  }
}
.modalContent {
  top: 40%;
  left: 25%;
  z-index: 2001;
  position: fixed;
  background-color: white;
  padding: 40px;
  color: black;
  h5 {
    margin-bottom: 20px;
  }
  .close-btn {
    margin-left: 90%;
  }
}
